@import "tailwindcss";

@theme {
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}

.home-page {
  margin-top: 150px;
  width: 100vw;
}

.HP-imgs {
  display: flex;
  flex-wrap: wrap;
}

.font {
  font-family: "Asimovian", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media (width < 600px) {
  .home-page {
    width: 600px;
  }

  img {
    display: flex;
  }
}
